body {
  background-image: url("triforce-bg.jpg");
}

h1 {
  color: #E8D39D;
  text-align: center;
}

option, select{
  color: yellow;
  background-color: purple;
  height: 20px;
  border-color: gold;
  width: 50%;
}

svg {
  border-color: gold;
  border-width: 1px;
  border-style: solid;
}

option, select, svg {
    border-radius: 4px;
}

#container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#generalMap {
  width: 80%;
}

#controls {
  width: 20%;
  display: flex;
  flex-direction: column;
}

#infoDisplay {
  color: white;
  text-align: center;
  height: 200px;
}

#statue-buttons {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  color: #E8D39D;
}

#selector-div {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

label {
  vertical-align: top;
}
