body {
  background-color: black;
}

option, select{
  color: yellow;
  background-color: purple;
  height: 20px;
  border-color: yellow;
}

svg {
  border-color: gold;
  border-width: 1px;
  border-style: solid;
}

#container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#generalMap {
  width: 80%;
}

#controls {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

#infoDisplay {
  color: white;
  text-align: center;
  height: 200px;
}
