body {
  background-color: black;
}

option, select{
  color: yellow;
  background-color: purple;
}

image {
  border-color: yellow;
  border-width: 15px;
  border-style: solid;
}

#container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#generalMap {
  width: 80%;
}

#controls {
  width: 20%;
}

#infoDisplay {
  color: white;
  text-align: center;
  height: 200px;
}
